service/web-api/src/main/resource/WEB-INF/xsd/hello.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.v37zen.prepayment.web.com/hello" 
	xmlns:tns="http://www.v37zen.prepayment.web.com/hello" 
	elementFormDefault="qualified">
	
	
	

    <element name="helloRequest">
    	<complexType>
    		<sequence>
    			<element name="helloMsg" type="string"></element>
    		</sequence>
    	</complexType>
    </element>
    
    <element name="helloResponse">
    	<complexType>
    		<sequence>
    			<element name="helloMsg" type="string"></element>
    		</sequence>
    	</complexType>
    </element>
    
</schema>